.page-slot {
    margin-top: 10%;
    height: 90%;
    width: 100%;
}

/* Nav Bar */

.ticker-slot {
    border-collapse: collapse;
    background-color: #c3d2ff8e;
    border-radius: 12px;
    width: 98%;
    margin-left: 1%;
}

.cell-content {
    padding: 4%; /* Apply padding within each cell */
    font-size: small;
}


#add-ticker-form {
    position: relative;
    left: 5%;
}

.ticker-info {
    position: relative;
    font-size: small;
    align-self: center;
}

.add-btn {
    border-style: none;
    border-radius: 12px;
}

.add-btn:hover {
    background-color: #4169E1;
    cursor: pointer;
}

.go2MainBtn:hover {
    cursor: pointer;
}


.go2MainBtnText:hover {
    color: #4169E1;
}

/* Page Content */

.box-slot {
    position: relative;
    margin-top: 10%;
    left: 5%;
    right: 5%;
    height: 100%;
    width: 80%;
    background-color: gainsboro;
}

.slot-header {
    position: relative;
    height: 10%;
}

.slot1 {
    position: relative;
}


.openprice, .YoYchart, .dividends, .volumes {
    position: relative;
    width: 95%;
    margin-top: 5px;
    left: 15px;
}

.bk-Figure {
    padding: 15px 15px 15px 15px;
}

hr.dotted {
    border-top: 3px dotted #bbb;
}

#separator1 {
    display: none;
}

#separator2 {
    display: none;
}

#separator3 {
    display: none;
}

.loaderSlot {
    display: none;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
    margin-left: 46%;
}

.loader {
    display: grid;
    position: relative;
    width: 80px;
    aspect-ratio: 1;
} 

.loader::before,
.loader::after {    
    content:"";
    grid-area: 1/1;
    --c:no-repeat radial-gradient(farthest-side,#25b09b 92%,#0000);
    background: 
        var(--c) 50%  0, 
        var(--c) 50%  100%, 
        var(--c) 100% 50%, 
        var(--c) 0    50%;
    background-size: 12px 12px;
    animation: l12 1s infinite;
}
.loader::before {
    margin: 4px;
    filter: hue-rotate(45deg);
    background-size: 8px 8px;
    animation-timing-function: linear
}

@keyframes l12 { 
    100%{transform: rotate(.5turn)}
}

.loadingText {
    position: relative;
    margin-top: 3.5%;
}


.dividends {
    font-size: medium;
}

.openprice {
    padding-bottom: 3%;
}